params {

    input {
      
      fastq_path = "inputfiles/"
      fasta_path = "‎⁨$baseDir/ref⁩/pfalciparum⁩/adapters.fa"
      reference_path = "$baseDir/ref⁩/pfalciparum⁩/New_6_genes.fa"
      bed_path= "$baseDir/ref⁩/pfalciparum⁩/New_6_genes.bed"
      variant_path="./ref⁩/pfalciparum⁩/Reportable_SNPs.csv"
      mode="Bowtie"
      vcfmode="HaplotypeCaller"
    }
 
  output {
      folder = "inputfiles/output"
    }

}



                    
