params {

    input {
      
      input_dir = "/data/inputs"
      fasta_path = "$baseDir/ref/pfalciparum/adapters.fa"
      reference_path = "$baseDir/ref/pfalciparum/New_6_genes.fa"
      bed_path= "$baseDir/ref/pfalciparum/New_6_genes.bed"
      variant_path="$baseDir/ref/pfalciparum/Reportable_SNPs.csv"
      mode="Bowtie"
      vcfmode="HaplotypeCaller"
    }
 
    output {
      folder = "output"
    }

}
